DATABASE_URL="postgresql://postgres.ovwsqxilzxocaowawxzp:indianpolyx1712@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres.ovwsqxilzxocaowawxzp:indianpolyx1712@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="polymer_trading_jwt_secret_key_2024"
JWT_EXPIRES_IN="24h"
NODE_ENV="development"
PORT=3002